body {
  background-color: #b4b8ab;
  text-align: center;
  font-family: Tilt Neon;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

nav {
  background-color: #f4f9e9;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.nav-links {
  display: flex;
  align-items: stretch;
}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 14px 16px;
  display: block;
}

nav a:hover {
  background-color: #31493c;
  color: white;
  border-radius: 15px;
}

h1.team-builder {
  padding-right: 5px;
}

.flash-msg {
  background-color: #f4f9e9;
  border: 1px solid #31493c;
  width: 300px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  margin: 20px auto 10px auto;
}

.flex-container {
  display: flex;
  justify-content: space-around;
}

.sign-in,
.create-account {
  width: 400px;
  padding: 20px;
  background-color: #eef0eb;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.sign-in input[type="text"],
.sign-in input[type="password"],
.create-account input[type="text"],
.create-account input[type="password"],
.create-account select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #31493c;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
}

.sign-in input[type="submit"],
.create-account input[type="submit"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #31493c;
  color: white;
  cursor: pointer;
}

.create-account select:focus {
  outline: none;
}

@media screen and (max-width: 768px) {
  .sign-in,
  .create-account {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 874px) {
  .flex-container {
    flex-direction: column;
    margin: 0 auto;
    gap: 1rem;
  }
}

ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ol li {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #eef0eb;
}

input[type="submit"] {
  background-color: #31493c;
  color: #eef0eb;
}
