{% extends 'base.html' %} {% block body %}
<div class="flex-container">
  <div class="sign-in">
    <h2>Sign In</h2>
    <form action="/login" method="POST">
      <p><input type="text" name="email" placeholder="Email" /></p>
      <p><input type="password" name="password" placeholder="Password" /></p>
      <input type="submit" />
    </form>
  </div>
  <div class="create-account">
    <h3>Create an Account</h3>
    <form action="/users" method="POST">
      <p><input type="text" name="name" placeholder="Name" /></p>
      <p><input type="text" name="email" placeholder="Email" /></p>
      <p><input type="password" name="password" placeholder="Password" /></p>
      <p>
        Role
        <select name="role">
          <option value="Admin">Admin</option>
          <option value="Team_lead">Team Lead</option>
          <option value="Associate">Associate</option>
        </select>
      </p>
      <input type="submit" />
    </form>
  </div>
</div>
{% endblock %}
